/BinaryTest1.class
/BinaryTest2.class
/BinaryTest3.class
/BooleanEx.class
/CharacterEx1.class
/CharacterEx2.class
/CharacterEx3.class
/Constant.class
/DoubleEx1.class
/DoubleEx2.class
/ExplicitConversion.class
/ImplicitConversion.class
/IntegerVariable.class
/LongVariable.class
/TypeInterface.class
